.blog{
    width:60%;
    height: 400px;
    background-color: chartreuse;
    color: blueviolet;
    text-align: center;
    margin: 0 auto
}
button{
    color: yellow;
    background-color: blueviolet;
    padding: 10px 18px;
    border-radius: 12px;
}